@using System.Security.Claims;

@if (Context.User.Identity.IsAuthenticated)
{
    @*  <p>Welcome, @Context.User.Identity.Name!</p> *@
}

<div id="navbarNoti001">
    <!-- Menu Heade: Bao gồm Logo, tên người dùng -->
    <div class="navbar navbar-dark navbar-expand-lg navbar-static border-bottom border-bottom-white border-opacity-10" id="navbar-header">
        <div class="container-fluid">
            <div class="d-flex d-lg-none me-2">
                <button type="button" class="navbar-toggler sidebar-mobile-main-toggle rounded-pill">
                    <i class="ph-list"></i>
                </button>
            </div>

            <div class="navbar-brand flex-1 flex-lg-0">
                <a href="~/" class="d-inline-flex align-items-center">
                    <img src="../../../assets/images/logo_icon.png" alt="">
                    @*<img src="../../../assets/images/logo_text_light.svg" class="d-none d-sm-inline-block h-16px ms-3" alt="">*@
                    <span>
                        <h2 class="d-none d-sm-inline-block h-16px ms-3" style=" margin: 0px 0 -4px 13px;    color: white;    font-family: emoji;"> AMMS </h2>
                    </span>
                </a>
            </div>
            <!--
            <ul class="nav flex-row">
            <li class="nav-item d-lg-none">
            <a href="#navbar_search" class="navbar-nav-link navbar-nav-link-icon rounded-pill" data-bs-toggle="collapse">
            <i class="ph-magnifying-glass"></i>
            </a>
            </li>

            <li class="nav-item nav-item-dropdown-lg dropdown">
            <a href="#" class="navbar-nav-link navbar-nav-link-icon rounded-pill" data-bs-toggle="dropdown">
            <i class="ph-squares-four"></i>
            </a>

            <div class="dropdown-menu dropdown-menu-scrollable-sm wmin-lg-600 p-0">
            <div class="d-flex align-items-center border-bottom p-3">
            <h6 class="mb-0">Browse apps</h6>

            </div>

            <div class="row row-cols-1 row-cols-sm-3 g-0">
            <div class="col">
            <button type="button" onclick="changeApps('ID_Home')" class="dropdown-item text-wrap h-100 align-items-start border-end-sm border-bottom p-3">
            <div>
            <img src="../../../assets/images/demo/logos/1.svg" class="h-40px mb-2" alt="">
            <div class="fw-semibold my-1">Inbound Delivery</div>
            <div class="text-muted">Nhập hàng</div>
            </div>
            </button>
            </div>

            <div class="col">
            <button type="button" onclick="changeApps('OD_Home')" class="dropdown-item text-wrap h-100 align-items-start border-end-sm border-bottom p-3">
            <div>
            <img src="../../../assets/images/demo/logos/3.svg" class="h-40px mb-2" alt="">
            <div class="fw-semibold my-1">Outbound Delivery</div>
            <div class="text-muted">Xuất hàng</div>
            </div>
            </button>
            </div>

            <div class="col">
            <button type="button" onclick="changeApps('TI_Home')" class="dropdown-item text-wrap h-100 align-items-start border-bottom p-3">
            <div>
            <img src="../../../assets/images/demo/logos/4.svg" class="h-40px mb-2" alt="">
            <div class="fw-semibold my-1">TI Delivery</div>
            <div class="text-muted">Vận chuyển nội bộ</div>
            </div>
            </button>
            </div>


            </div>
            </div>
            </li>


            </ul>
            -->
            <div class="col-2">
                @* <label class="form-label">Trường học</label> *@
                <select id="FilterOrgainizationNav" class="form-control select" data-dropdown-parent="#navbarNoti001" v-model="selectedSchoolNav" data-placeholder="Vui lòng chọn trường">
                    <option v-for="option in comboboxNav.schoolNavs" :key="option.id" :value="option.id">
                        {{ option.organizationName }}
                    </option>
                </select>
            </div>
            <div class="navbar-collapse justify-content-center flex-lg-1 order-2 order-lg-1 collapse" id="navbar_search">
                <div class="navbar-search flex-fill position-relative mt-2 mt-lg-0 mx-lg-3">
                </div>
            </div>
            <ul class="nav flex-row justify-content-end order-1 order-lg-2">

                <li class="nav-item nav-item-dropdown-lg dropdown ms-lg-2">
                    <a href="#" class="navbar-nav-link align-items-center rounded-pill p-1" data-bs-toggle="dropdown">
                        <div class="status-indicator-container">
                            <img src="../../../assets/images/demo/users/user-circle.png" class="w-32px h-32px rounded-pill" alt="">
                            <span class="status-indicator bg-success"></span>
                        </div>
                        <span class="d-none d-lg-inline-block mx-lg-2">
                            <span class="d-none d-lg-inline-block mx-lg-2">
                                @if (Context.User.Identity.IsAuthenticated)
                                {
                                    @Context.User.FindFirstValue("name")
                                }
                            </span>
                        </span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-end">
                        <a href="https://localhost:5001/v1/userprofile" target="_blank" class="dropdown-item">
                            <i class="ph-user-circle me-2"></i>
                            Thông tin của tôi
                        </a>
                        <a href="javascript:void(0)" v-on:click="logout" class="dropdown-item">
                            <i class="ph-sign-out me-2"></i>
                            Đăng xuất
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>


    <!--Thanh thông báo-->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="notifications">
        <div class="offcanvas-header py-0">
            <h5 class="offcanvas-title py-3">Thông báo</h5>
            <button type="button" class="btn btn-light btn-sm btn-icon border-transparent rounded-pill" data-bs-dismiss="offcanvas">
                <i class="ph-x"></i>
            </button>
        </div>

        <div class="offcanvas-body p-0">

            <div class="bg-light fw-medium py-2 px-3">Mới</div>
            <div class="p-3">

                <div class="d-flex align-items-start mb-3" v-for="item in notifiticons">
                    <a href="#" class="status-indicator-container me-3">
                        <img src="../../../assets/images/demo/users/face1.jpg" class="w-40px h-40px rounded-pill" alt="">
                        <span class="status-indicator bg-success"></span>
                    </a>
                    <div class="flex-fill">
                        <a href="#" class="fw-semibold"> {{item.application}}  </a> {{item.title}}
                        <div class="bg-light rounded p-2 my-2">
                            @*     <label class="form-check ms-1">
                            <input type="checkbox" class="form-check-input" checked disabled>
                            <del class="form-check-label">Submit personal documents</del>
                            </label>*@
                            <label class="form-check ms-1">
                                <input type="checkbox" class="form-check-input" checked disabled>
                                {{item.message}}
                            </label>
                        </div>

                        <div class="fs-sm text-muted mt-1"> {{item.createdDate}}</div>
                    </div>
                </div>


                <div class="d-flex align-items-start mb-3" v-for="item in notifiticons">
                    <a href="#" class="status-indicator-container me-3">
                        <img src="../../../assets/images/demo/users/face3.jpg" class="w-40px h-40px rounded-pill" alt="">
                        <span class="status-indicator bg-warning"></span>
                    </a>
                    <div class="flex-fill">
                        <a href="#" class="fw-semibold"> {{item.title}}</a>  <span class="fw-semibold">    {{item.message}}</span>
                        <div class="d-flex my-2">
                            <a href="#" class="status-indicator-container me-1">
                                <img src="../../../assets/images/demo/users/face10.jpg" class="w-32px h-32px rounded-pill" alt="">
                                <span class="status-indicator bg-danger"></span>
                            </a>
                            <a href="#" class="status-indicator-container me-1">
                                <img src="../../../assets/images/demo/users/face11.jpg" class="w-32px h-32px rounded-pill" alt="">
                                <span class="status-indicator bg-success"></span>
                            </a>
                            <a href="#" class="status-indicator-container me-1">
                                <img src="../../../assets/images/demo/users/face12.jpg" class="w-32px h-32px rounded-pill" alt="">
                                <span class="status-indicator bg-success"></span>
                            </a>
                            <a href="#" class="status-indicator-container me-1">
                                <img src="../../../assets/images/demo/users/face13.jpg" class="w-32px h-32px rounded-pill" alt="">
                                <span class="status-indicator bg-success"></span>
                            </a>
                            <button type="button" class="btn btn-light btn-icon d-inline-flex align-items-center justify-content-center w-32px h-32px rounded-pill p-0">
                                <i class="ph-plus ph-sm"></i>
                            </button>
                        </div>

                        <div class="fs-sm text-muted mt-1"> {{item.createdDate}}</div>
                    </div>
                </div>
            </div>

            <div class="bg-light fw-medium py-2 px-3">Trước đó</div>
            <div class="p-3">
                <div class="d-flex align-items-start mb-3">
                    <a href="#" class="status-indicator-container me-3">
                        <img src="../../../assets/images/demo/users/face25.jpg" class="w-40px h-40px rounded-pill" alt="">
                        <span class="status-indicator bg-success"></span>
                    </a>
                    <div class="flex-fill">
                        <a href="#" class="fw-semibold">Nick</a> requested your feedback and approval in support request <a href="#">#458</a>

                        <div class="my-2">
                            <a href="#" class="btn btn-success btn-sm me-1">
                                <i class="ph-checks ph-sm me-1"></i>
                                Approve
                            </a>
                            <a href="#" class="btn btn-light btn-sm">
                                Review
                            </a>
                        </div>

                        <div class="fs-sm text-muted mt-1">3 days ago</div>
                    </div>
                </div>

                <div class="d-flex align-items-start mb-3">
                    <a href="#" class="status-indicator-container me-3">
                        <img src="../../../assets/images/demo/users/face24.jpg" class="w-40px h-40px rounded-pill" alt="">
                        <span class="status-indicator bg-grey"></span>
                    </a>
                    <div class="flex-fill">
                        <a href="#" class="fw-semibold">Mike</a> added 1 new file(s) to <a href="#">Product management</a> project

                        <div class="bg-light rounded p-2 my-2">
                            <div class="d-flex align-items-center">
                                <div class="me-2">
                                    <img src="../../../assets/images/icons/pdf.svg" width="34" height="34" alt="">
                                </div>
                                <div class="flex-fill">
                                    new_contract.pdf
                                    <div class="fs-sm text-muted">112KB</div>
                                </div>
                                <div class="ms-2">
                                    <button type="button" class="btn btn-flat-dark text-body btn-icon btn-sm border-transparent rounded-pill">
                                        <i class="ph-arrow-down"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="fs-sm text-muted mt-1">1 day ago</div>
                    </div>
                </div>

                <div class="d-flex align-items-start mb-3">
                    <div class="me-3">
                        <div class="bg-success bg-opacity-10 text-success rounded-pill">
                            <i class="ph-calendar-plus p-2"></i>
                        </div>
                    </div>
                    <div class="flex-fill">
                        All hands meeting will take place coming Thursday at 13:45.

                        <div class="my-2">
                            <a href="#" class="btn btn-primary btn-sm">
                                <i class="ph-calendar-plus ph-sm me-1"></i>
                                Add to calendar
                            </a>
                        </div>

                        <div class="fs-sm text-muted mt-1">2 days ago</div>
                    </div>
                </div>

                <div class="d-flex align-items-start mb-3">
                    <a href="#" class="status-indicator-container me-3">
                        <img src="../../../assets/images/demo/users/face4.jpg" class="w-40px h-40px rounded-pill" alt="">
                        <span class="status-indicator bg-danger"></span>
                    </a>
                    <div class="flex-fill">
                        <a href="#" class="fw-semibold">Christine</a> commented on your community <a href="#">post</a> from 10.12.2021

                        <div class="fs-sm text-muted mt-1">2 days ago</div>
                    </div>
                </div>

                <div class="d-flex align-items-start mb-3">
                    <div class="me-3">
                        <div class="bg-primary bg-opacity-10 text-primary rounded-pill">
                            <i class="ph-users-four p-2"></i>
                        </div>
                    </div>
                    <div class="flex-fill">
                        <span class="fw-semibold">HR department</span> requested you to complete internal survey by Friday

                        <div class="fs-sm text-muted mt-1">3 days ago</div>
                    </div>
                </div>

                <div class="text-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<script>
    function changeApps(appName) {
        window.location = '/' + appName;
    }
    $(document).ready(function () {
        $('#FilterOrgainizationNav').on("change", function () {
            _navbarHeader.setCookie("organizationId", $(this).val(), 7);
            _navbarHeader.removeLocalStorage();

            location.reload();
        });
    });
    var _navbarHeader = new Vue({
        el: "#navbarNoti001",
        data: {
            token: '@Context.User.FindFirstValue("AccessToken")',
            userId: '@Context.User.FindFirstValue(ClaimTypes.NameIdentifier)',
            notifiticons: [],
            numberNotification: 0,
            selectedSchoolNav: "",
            comboboxNav: {
                schoolNavs: [],
            },
        },
        methods: {
            logout: function () {
                localStorage.removeItem('userName');
                localStorage.removeItem('schools');
                fetch('/Logout', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRF-TOKEN': 'your-csrf-token',
                    },
                    credentials: 'include',
                })
                    .then(response => {
                        if (response.ok) {
                            window.location.href = '/Account/login?ReturnUrl=%2F';
                        } else {
                            throw new Error(`HTTP error! Status: ${response.status}`);
                        }
                    })
                    .catch(error => {
                        console.error('Logout failed', error);
                    });
            },
            onGetNotifications() {
                // const event = new Date();
                // var time = event.toISOString();
                // const config = {
                //     headers: {
                //         "Content-type": "application/json",
                //         "Authorization": 'Bearer '.concat(this.token)
                //     },
                // };
                // axios.get('/Home/GetNotificationsByUserIdAndTime').then(response => {
                //     if (response.status == 200) {
                //         this.notifiticons = response.data;
                //         this.numberNotification = this.notifiticons.length;
                //     }
                // }).catch(error => {
                //     console.log(error);
                //     alert("Lỗi: " + error.response.data.message);
                // });
            },
            loadCombox() {
                var userName = "@Context.User.FindFirstValue("sub")";
                var storedUserName = localStorage.getItem('userName');

                if (!storedUserName || storedUserName !== userName) {
                    localStorage.setItem('userName', userName);
                    localStorage.removeItem('schools');
                }
                if (localStorage.getItem('schools')) {
                    this.comboboxNav.schoolNavs = JSON.parse(localStorage.getItem('schools'));
                    if (this.getCookie("organizationId")) {
                        this.selectedSchoolNav = this.getCookie("organizationId");
                    }
                    else {
                        this.selectedSchoolNav = this.comboboxNav.schoolNavs[0].id;
                        this.setCookie("organizationId", this.selectedSchoolNav, 7);
                    }
                }
                else {
                    axios.get('/api/v1/Organization/GetForUser').then(response => {
                        if (response.request.responseURL.includes('Auth/Login')) {
                            window.location = window.location.href;
                        }
                        this.comboboxNav.schoolNavs = response.data.data;
                        localStorage.setItem('schools', JSON.stringify(this.comboboxNav.schoolNavs));
                        if (this.getCookie("organizationId")) {
                            this.selectedSchoolNav = this.getCookie("organizationId");
                        }
                        else {
                            this.selectedSchoolNav = this.comboboxNav.schoolNavs[0].id;
                            this.setCookie("organizationId", this.selectedSchoolNav, 7);
                        }
                    }).catch(error => {
                        console.warn(error);
                    });
                }
            },
            setCookie(name, value, days) {
                const date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                const expires = "expires=" + date.toUTCString();
                document.cookie = `${name}=${value}; ${expires}; path=/`;
            },
            getCookie(name) {
                const value = "; " + document.cookie;
                const parts = value.split("; " + name + "=");
                if (parts.length === 2) return parts.pop().split(";").shift();
            },
            removeLocalStorage() {
                localStorage.removeItem('schoolYearId');
                localStorage.removeItem('schoolLevelCode');
                localStorage.removeItem('schoolyear');

                // localStorage.clear();
            }
        },
        created() {
            //this.onGetNotifications();
        },
        mounted() {
            this.loadCombox();
        },
    })
</script>